In [1]:
import pandas as pd
import numpy as np
import gzip
import json
import re
import os
import sys
import prince

In [2]:
tags = pd.read_csv("tags-count-2col-all.dat",sep=' ', names=['tag', 'count'], header=None)

In [6]:
tags.head()

          tag  count
0     to-read      3
1           p      1
2  collection      1
3  w-c-fields      1
4   biography      1

In [15]:
#tags['sum_counts'] = tags.groupby(tags['tag']).transform('sum')
new = tags.groupby('tag')['count'].sum().reset_index(name ='Total Counts')

In [16]:
new.head()

               tag  Total Counts
0                -          2040
1               --            15
2              ---             3
3            -----             2
4  ---------novels             2

In [8]:
tags.head()

          tag  count    sum_counts
0     to-read      3  2.049567e+09
1           p      1  7.928000e+03
2  collection      1  6.777000e+04
3  w-c-fields      1  1.400000e+01
4   biography      1  2.782146e+06

In [17]:
sorted_tags = new.sort_values(by=['Total Counts'], ascending=False)

In [18]:
sorted_tags.head()

                       tag  Total Counts
1149998            to-read    2049566994
338427   currently-reading     131995760
297120            classics      62273395
436355           favorites      61776179
444143             fiction      59841666

In [19]:
len(sorted_tags)

1300134

In [21]:
sorted_tags.to_csv('sorted_tags-all.csv')

In [23]:
sorted_tags.head(150)

                                       tag  Total Counts
1149998                            to-read    2049566994
338427                   currently-reading     131995760
297120                            classics      62273395
436355                           favorites      61776179
444143                             fiction      59841666
428953                             fantasy      35708932
854205                               owned      18556035
221151                         books-i-own      18507476
1265194                        young-adult      17547421
982786                             romance      14397702
552752                  historical-fiction      13414740
808395                         non-fiction      12809945
296010                             classic      12585030
777625                             mystery      12300767
1007326                    science-fiction       9494218
1257853                                 ya       8075175
642518                              kindle       7842995
1020093                             series       7307214
1005234                             sci-fi       7258443
685133                          literature       7221967
566181                              horror       6389889
854562                         owned-books       6251982
353855                             default       6232796
437752                          favourites       6131594
555307                             history       5555114
671419                             library       5523825
812628                          nonfiction       5512383
206725                           book-club       5477398
552080                          historical       5239488
824683                              novels       4910630
...                                    ...           ...
56500                         20th-century       1064872
244860                  british-literature       1049781
740981                        middle-grade       1037616
283157                    children-s-books       1037433
987374      rory-gilmore-reading-challenge       1032930
306880                              comics       1017015
430472                      fantasy-sci-fi       1012829
941788                        read-in-2012       1004029
70021                              5-stars        979903
369791                                 dnf        970928
288325                           christian        965519
1201193                            vampire        959314
250353                            business        958698
1003723                       school-books        956979
780797                           mythology        924997
18264    1001-books-to-read-before-you-die        916059
296262                     classic-fiction        884608
1190325                         unfinished        869001
733518                             memoirs        864995
713230                               manga        846377
683733                            literary        840559
639370                                kids        836330
296381                         classic-lit        830889
528666                        harry-potter        817449
152122                          audio-book        809695
1015624                          self-help        795782
308442                       coming-of-age        787874
212097                            bookclub        778204
1149937                         to-re-read        769800
1152880                   to-read-classics        768302

[150 rows x 2 columns]

In [24]:
sorted_tags[sorted_tags['tag'] == 'biography']

              tag  Total Counts
195664  biography       2782146

In [25]:
fiction = sorted_tags[sorted_tags['tag'].str.contains('fiction')]

                                         tag  Total Counts
444143                               fiction      59841666
552752                    historical-fiction      13414740
808395                           non-fiction      12809945
1007326                      science-fiction       9494218
812628                            nonfiction       5512383
101831                         adult-fiction       2629070
684037                      literary-fiction       1578142
488521                       general-fiction       1434103
955378                     realistic-fiction       1164392
315326                  contemporary-fiction       1126566
296262                       classic-fiction        884608
1258913                           ya-fiction        754988
288878                     christian-fiction        593818
1265521                  young-adult-fiction        539563
1154131                      to-read-fiction        536210
1007489              science-fiction-fantasy        456653
1065291                  speculative-fiction        428053
330924                         crime-fiction        352900
1157743                  to-read-non-fiction        254378
1113820                         teen-fiction        233460
630373                      juvenile-fiction        189680
754228                        modern-fiction        183237
1157835                   to-read-nonfiction        171643
810648                   non-fiction-to-read        106340
445998                    fiction-historical        105006
429622                       fantasy-fiction        100512
383755                     dystopian-fiction         95931
283562                    children-s-fiction         90329
1241238                      women-s-fiction         84521
445262                      fiction-classics         79097
...                                      ...           ...
955406               realistic-fiction-bin-1             1
955404    realistic-fiction-and-or-chick-lit             1
955403         realistic-fiction-and-fantacy             1
955396           realistic-fiction-6th-grade             1
955414        realistic-fiction-chapter-book             1
955394                 realistic-fiction-5-8             1
955392                 realistic-fiction-4-5             1
955390                 realistic-fiction-3-5             1
955388                 realistic-fiction-2-4             1
955381             realistic-fiction--comedy             1
955379          realistic-fiction---children             1
955417       realistic-fiction-childrens-lit             1
955466   realistic-fiction-that-is-not-quite             1
955464   realistic-fiction-that-doesn-t-suck             1
955454      realistic-fiction-series-to-read             1
955421   realistic-fiction-family-relationsh             1
955446     realistic-fiction-or-contemporary             1
955443             realistic-fiction-mystery             1
955432               realistic-fiction-humor             1
955429              realistic-fiction-gr-4-6             1
955428      realistic-fiction-goal-3-in-2012             1
955422           realistic-fiction-favorites             1
955694       reality-romance-women-s-fiction             1
955735                    reality-vs-fiction             1
955598                    realisticl-fiction             1
955597         realisticfiction-middleschool             1
955582                   realistical-fiction             1
955578         realistic-young-adult-fiction             1
955607                    realistist-fiction             1
956447                       realtic-fiction             1

[30166 rows x 2 columns]

In [27]:
scifi = sorted_tags[sorted_tags['tag'].str.contains('sci')]
print(scifi)

                                         tag  Total Counts
1007326                      science-fiction       9494218
1005234                               sci-fi       7258443
1005607                       sci-fi-fantasy       2071556
1006596                              science       1783813
1009290                                scifi       1467044
430472                        fantasy-sci-fi       1012829
1009476                        scifi-fantasy        735315
1007489              science-fiction-fantasy        456653
430582                         fantasy-scifi        268210
1005367                   sci-fi-and-fantasy        181056
893429                     political-science         70833
896414                       popular-science         56684
1055525                       social-science         55372
430562               fantasy-science-fiction         55343
1007380          science-fiction-and-fantasy         44658
428549                          fantascienza         42964
429170                    fantasy-and-sci-fi         42840
793213                          neuroscience         40585
1008885                       sciencefiction         36598
296603                        classic-sci-fi         27921
311642                      computer-science         27306
1055594                      social-sciences         23168
1159790                       to-read-sci-fi         21354
744289                       military-sci-fi         17714
1008215                       science-nature         17294
744302              military-science-fiction         17093
1159815                      to-read-science         14496
895772                           pop-science         13825
1006079                       sci-fi-romance         12890
1006240                       sci-fi-to-read         12758
...                                      ...           ...
418244                exercise-science-texts             1
418243                exercise-science-reads             1
419211          exploration-of-consciousness             1
945989                         read-poli-sci             1
413479   etec-545-howto-low-high-bio-science             1
944704                   read-nature-science             1
416239                      everyday-science             1
415428           evangelism-and-discipleship             1
397202           elementary-science-ficition             1
960059         recommended-by-scifi-bookclub             1
960720           recommended-science-fiction             1
396426               ele-common-core-science             1
397319                       elements-sci-fi             1
393650                 education-metascience             1
961456                         recs-sciences             1
961599               red-5-science-lifecycle             1
394379          edx-the-science-of-happiness             1
962189               redmond-scifi-book-club             1
403167                 energy-sciences-books             1
954042                 readnext-science-math             1
954820                 real-life-and-science             1
403911              engl-300-lit-and-science             1
957418                       rec-sci-fi-tech             1
958007                recent-scifi-for-paper             1
398886                  ellis-sci-fi-fantasy             1
401443           empirical-political-science             1
955516      realistic-non-sci-fi-human-stuff             1
955696                        reality-sci-fi             1
956575          reasoning-philosophy-science             1
956133                really-popular-science             1

[14141 rows x 2 columns]

According to the count of tags, the six most populated genres which can be picked are:
classics (or classic), fantasy, romance, mystery, science-fiction (sci-fi or scifi)
and business, economics (for the scope of the project)

In [190]:
# get appropriate tags
def get_data_tags(inputdata, outputfile):
    wanted = ['classics', 'classic', 'fantasy', 'romance', 'mystery', 'science-fiction', 'sci-fi',
             'scifi', 'business', 'economics']

    output = open(outputfile, 'w')
    
    with open(inputdata) as json_file:
        for line in json_file:
                book = json.loads(line)
                names = [elm['name'] for elm in book['popular_shelves'] if \
            bool(re.match('[^\x00-\x7F\x80-\xFF\u0100-\u017F\u0180-\u024F\u1E00-\u1EFF]', elm['name'])) == False]
                if set(wanted).isdisjoint(names) == False:
                    output.write('{}\n'.format(json.dumps(book)))

    output.close()

In [191]:
get_data_tags('all-english-nochild-new.json', 'wanted_tagstmp.json')

In [192]:
# load data from json file (faster than pandas?)
def load_data(inputdata):
    books = []
    with open(inputdata) as json_file:
        for line in json_file:
            book = json.loads(line)
            books.append(book)
    return books

def get_data(inputdata):
    books = []
    with open(inputdata) as json_file:
        for lines in json_file:
            book = {}
            line = json.loads(lines)
            book['isbn'] = line['isbn']
            book['book_id'] = line['book_id']
            names = [elm['name'] for elm in line['popular_shelves']]
            counts = [elm['count'] for elm in line['popular_shelves']]
            book['popular_shelves'] = names
            book['count_shelves'] = counts
            book['average_rating'] = line['average_rating']
            book['title'] = line['title']
            books.append(book)
    return books

In [193]:
books = get_data('wanted_tagstmp.json')

In [194]:
len(books)

467054

In [48]:
len(books)

467054

In [195]:
books[0]

{'isbn': '',
 'book_id': '34883016',
 'popular_shelves': ['to-read',
  'ibooks',
  'favorite-authors',
  'may-2017-dr-reads',
  'sports-romance',
  'series-i-like',
  'romance',
  'favorites',
  'f-f',
  'hockey-romance',
  'ebook'],
 'count_shelves': ['4', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
 'average_rating': '3.86',
 'title': 'Playmaker: A Venom Series Novella'}

In [147]:
def clean_data_language(inputdata, outputfile):
    eng_lan = ['en', 'enm', 'en-US', 'en-GB', '']
    child_books = ['child', 'children', 'children-s', 'childrens', 'kids-books', 'childrens-s-books']

    output = open(outputfile, 'a')
    books = []
    with open(inputdata) as json_file:
        for line in json_file:
            book = json.loads(line)
            names = [elm['name'] for elm in book['popular_shelves']]
            if (book['language_code'] in eng_lan) and (not set(child_books).isdisjoint(names[:6]) == False):
                output.write('{}\n'.format(json.dumps(book)))
                books.append(book)
    output.close()

In [196]:
test = pd.DataFrame(books)

In [197]:
test.head()

,average_rating,book_id,count_shelves,isbn,popular_shelves,title
0,3.86,34883016,"[4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",,"[to-read, ibooks, favorite-authors, may-2017-d...",Playmaker: A Venom Series Novella
1,3.93,6066814,"[159, 12, 11, 10, 7, 6, 5, 3, 3, 3, 3, 2, 2, 2...",184737297X,"[to-read, historical-fiction, mystery, histori...","Crowner Royal (Crowner John Mystery, #13)"
2,3.65,2008911,"[44, 7, 3, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1,...",0440083087,"[to-read, short-stories, fiction, french, fran...",Silken Eyes
3,3.48,7203847,"[7615, 1526, 1108, 866, 321, 317, 246, 245, 24...",0142427896,"[to-read, horror, stephen-king, fiction, curre...",The Tommyknockers
4,3.75,6158967,"[362, 25, 24, 10, 9, 8, 8, 7, 6, 4, 4, 3, 2, 2...",1400041694,"[to-read, currently-reading, non-fiction, soci...",Crude World: The Violent Twilight of Oil

In [119]:
#test.iloc[0].loc['popular_shelves']

In [162]:
# remove useless tags
def remove_nasty_tags(pops, cs):
    genreExceptions = [
    'to-read', 'currently-reading', 'owned', 'default', 'favorites', 'books-i-own',
    'ebook', 'kindle', 'library', 'audiobook', 'owned-books', 'audiobooks', 'my-books',
    'ebooks', 'to-buy', 'english', 'calibre', 'books', 'british', 'audio', 'my-library',
    'favourites', 're-read', 'general', 'e-books', 'ibooks', 'may-2017-dr-reads', 'favorite-authors',
    'series-i-like', 'ebook-unread', 'wishlist', 'did-not-finish', 'a-wishlist', 'wish-list',
    '-library-no-owned', '0-0-asap', '0-gu', '0-medieval-fiction', '0-owned', 'owned', '0-too-lazy-to-tag',
    'owned-tbr', 'wishlist', 'a-wishlist', 'did-not-finish'
    ]

    popnew = []
    cnew = []

    for elm, elmc in zip(pops, cs):    
        to_remove = []
        for i in range(len(elm)):
            if elm[i] in genreExceptions or (len(elm[i]) == 1) or \
            (bool(re.match('.*read*', elm[i])) == True) or (bool(re.match('.*kindle*', elm[i])) == True) \
            or (bool(re.match('.*year*', elm[i])) == True) or (bool(re.search(r'\d+', elm[i])) == True):
                to_remove.append(i) 
        popnew.append([elm[e] for e in range(len(elm)) if e not in to_remove][0:11])
        cnew.append([elmc[e] for e in range(len(elmc)) if e not in to_remove][0:11])
    
    return popnew, cnew

In [198]:
pops = test['popular_shelves']
cs = test['count_shelves']

popnew, cnew = remove_nasty_tags(pops, cs)

In [200]:
new_column_p = pd.Series(popnew, name='popular_shelves', index=range(len(popnew)))
new_column_c = pd.Series(cnew, name='count_shelves', index=range(len(cnew)))

test.update(new_column_p)
test.update(new_column_c)

In [201]:
test.head(10)

,average_rating,book_id,count_shelves,isbn,popular_shelves,title
0,3.86,34883016,"[1, 1, 1, 1]",,"[sports-romance, romance, f-f, hockey-romance]",Playmaker: A Venom Series Novella
1,3.93,6066814,"[12, 11, 10, 7, 6, 5, 3, 3, 3, 2, 2]",184737297X,"[historical-fiction, mystery, historical-myste...","Crowner Royal (Crowner John Mystery, #13)"
2,3.65,2008911,"[7, 3, 3, 3, 2, 2, 1, 1, 1, 1, 1]",0440083087,"[short-stories, fiction, french, français, lit...",Silken Eyes
3,3.48,7203847,"[1526, 1108, 866, 317, 240, 170, 160, 108, 99,...",0142427896,"[horror, stephen-king, fiction, sci-fi, scienc...",The Tommyknockers
4,3.75,6158967,"[24, 10, 9, 8, 8, 7, 6, 4, 3, 2, 2]",1400041694,"[non-fiction, society, politics, history, econ...",Crude World: The Violent Twilight of Oil
5,4.04,12182387,"[101, 59, 58, 55, 35, 26, 25, 19, 16, 16, 14]",,"[young-adult, ya, paranormal, fantasy, romance...","The Passion (Dark Visions, #3)"
6,3.98,12135833,"[5, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1]",1463650132,"[fiction, christian-fiction, christian, giveaw...",Holding On
7,4.23,29074693,"[14, 10, 10, 5, 5, 4, 4, 3, 3, 2, 2]",,"[paranormal, shifters, paranormal-romance, rom...","Prowled Darkness (Dante's Circle, #7)"
8,3.30,1902202,"[9, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1]",0854563903,"[mystery, england, mysteries, mood-comforting,...","Dead in the Morning (Patrick Grant, #1)"
9,4.12,25742454,"[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",,"[graphic-novels, calibre-list, linseyschussan,...",The Switchblade Mamma

In [202]:
merde = test[test['isbn'] != '']

In [203]:
merde.head()

,average_rating,book_id,count_shelves,isbn,popular_shelves,title
1,3.93,6066814,"[12, 11, 10, 7, 6, 5, 3, 3, 3, 2, 2]",184737297X,"[historical-fiction, mystery, historical-myste...","Crowner Royal (Crowner John Mystery, #13)"
2,3.65,2008911,"[7, 3, 3, 3, 2, 2, 1, 1, 1, 1, 1]",0440083087,"[short-stories, fiction, french, français, lit...",Silken Eyes
3,3.48,7203847,"[1526, 1108, 866, 317, 240, 170, 160, 108, 99,...",0142427896,"[horror, stephen-king, fiction, sci-fi, scienc...",The Tommyknockers
4,3.75,6158967,"[24, 10, 9, 8, 8, 7, 6, 4, 3, 2, 2]",1400041694,"[non-fiction, society, politics, history, econ...",Crude World: The Violent Twilight of Oil
6,3.98,12135833,"[5, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1]",1463650132,"[fiction, christian-fiction, christian, giveaw...",Holding On

In [204]:
len(merde)

299499

In [205]:
data = pd.DataFrame(zip(merde['isbn'], merde['popular_shelves']), columns=['isbn', 'popular_shelves'])

In [206]:
data.head(10)

         isbn                                    popular_shelves
0  184737297X  [historical-fiction, mystery, historical-myste...
1  0440083087  [short-stories, fiction, french, français, lit...
2  0142427896  [horror, stephen-king, fiction, sci-fi, scienc...
3  1400041694  [non-fiction, society, politics, history, econ...
4  1463650132  [fiction, christian-fiction, christian, giveaw...
5  0854563903  [mystery, england, mysteries, mood-comforting,...
6  0743564421  [classics, literature, classic, american-liter...
7  1118727010  [econimics-and-finance, business, poleco, beha...
8  0698143760  [fantasy, young-adult, ya, paranormal, series,...
9  0752844458  [mystery, crime, fiction, mysteries, cornwall,...

In [ ]:
# split shelves column
shelves = data['popular_shelves'].apply(pd.Series)

In [180]:
shelves.head()

,0,1,2,3,4,5,6,7,8,9,10
0,historical-fiction,mystery,historical-mystery,medieval,historical,crime,series,fiction,crowner-john,mystery-thrillers,england
1,short-stories,fiction,french,français,literature,france,litterature-francaise,written-in-french,collections,_le-livre-de-poche,short-fiction
2,horror,stephen-king,fiction,sci-fi,science-fiction,thriller,king,fantasy,aliens,supernatural,paranormal
3,non-fiction,society,politics,history,economics,nonfiction,energy,environment,current-affairs,environmental,oil
4,fiction,christian-fiction,christian,giveaways,shelfari-medical,shelfari-christian,going-home,wee-published,romance,miscellaneous,library-book

In [181]:
# merge columns with rest of the data
newdata = shelves.merge(data, right_index = True, left_index = True)

newdata.head()

,0,1,2,3,4,5,6,7,8,9,10,isbn,popular_shelves
0,historical-fiction,mystery,historical-mystery,medieval,historical,crime,series,fiction,crowner-john,mystery-thrillers,england,184737297X,"[historical-fiction, mystery, historical-myste..."
1,short-stories,fiction,french,français,literature,france,litterature-francaise,written-in-french,collections,_le-livre-de-poche,short-fiction,0440083087,"[short-stories, fiction, french, français, lit..."
2,horror,stephen-king,fiction,sci-fi,science-fiction,thriller,king,fantasy,aliens,supernatural,paranormal,0142427896,"[horror, stephen-king, fiction, sci-fi, scienc..."
3,non-fiction,society,politics,history,economics,nonfiction,energy,environment,current-affairs,environmental,oil,1400041694,"[non-fiction, society, politics, history, econ..."
4,fiction,christian-fiction,christian,giveaways,shelfari-medical,shelfari-christian,going-home,wee-published,romance,miscellaneous,library-book,1463650132,"[fiction, christian-fiction, christian, giveaw..."

In [182]:
# drop old popular shelves column
# transform the numeric columns into separate rows using the melt function
newdata1 = newdata.drop("popular_shelves", axis = 1)
newdata1.head()

,0,1,2,3,4,5,6,7,8,9,10,isbn
0,historical-fiction,mystery,historical-mystery,medieval,historical,crime,series,fiction,crowner-john,mystery-thrillers,england,184737297X
1,short-stories,fiction,french,français,literature,france,litterature-francaise,written-in-french,collections,_le-livre-de-poche,short-fiction,0440083087
2,horror,stephen-king,fiction,sci-fi,science-fiction,thriller,king,fantasy,aliens,supernatural,paranormal,0142427896
3,non-fiction,society,politics,history,economics,nonfiction,energy,environment,current-affairs,environmental,oil,1400041694
4,fiction,christian-fiction,christian,giveaways,shelfari-medical,shelfari-christian,going-home,wee-published,romance,miscellaneous,library-book,1463650132

In [183]:
newdata2 = newdata1.melt(id_vars = ['isbn'], value_name = "popular_shelve")
newdata2.head()

         isbn variable      popular_shelve
0  184737297X        0  historical-fiction
1  0440083087        0       short-stories
2  0142427896        0              horror
3  1400041694        0         non-fiction
4  1463650132        0             fiction

In [184]:
newdata2.drop("variable", axis = 1, inplace = True)

In [185]:
newdata2.head()

         isbn      popular_shelve
0  184737297X  historical-fiction
1  0440083087       short-stories
2  0142427896              horror
3  1400041694         non-fiction
4  1463650132             fiction

In [186]:
newdata1.head()

,0,1,2,3,4,5,6,7,8,9,10,isbn
0,historical-fiction,mystery,historical-mystery,medieval,historical,crime,series,fiction,crowner-john,mystery-thrillers,england,184737297X
1,short-stories,fiction,french,français,literature,france,litterature-francaise,written-in-french,collections,_le-livre-de-poche,short-fiction,0440083087
2,horror,stephen-king,fiction,sci-fi,science-fiction,thriller,king,fantasy,aliens,supernatural,paranormal,0142427896
3,non-fiction,society,politics,history,economics,nonfiction,energy,environment,current-affairs,environmental,oil,1400041694
4,fiction,christian-fiction,christian,giveaways,shelfari-medical,shelfari-christian,going-home,wee-published,romance,miscellaneous,library-book,1463650132

In [187]:
newdata1.columns = ['tag1', 'tag2', 'tag3', 'tag4', 'tag5', 'tag6', 'tag7', 'tag8', 'tag9', 'tag10', 'tag11', 'isbn']

newdata1.head()

,tag1,tag2,tag3,tag4,tag5,tag6,tag7,tag8,tag9,tag10,tag11,isbn
0,historical-fiction,mystery,historical-mystery,medieval,historical,crime,series,fiction,crowner-john,mystery-thrillers,england,184737297X
1,short-stories,fiction,french,français,literature,france,litterature-francaise,written-in-french,collections,_le-livre-de-poche,short-fiction,0440083087
2,horror,stephen-king,fiction,sci-fi,science-fiction,thriller,king,fantasy,aliens,supernatural,paranormal,0142427896
3,non-fiction,society,politics,history,economics,nonfiction,energy,environment,current-affairs,environmental,oil,1400041694
4,fiction,christian-fiction,christian,giveaways,shelfari-medical,shelfari-christian,going-home,wee-published,romance,miscellaneous,library-book,1463650132

In [188]:
df_dum1 = pd.get_dummies(newdata1['tag1'])

In [189]:
df_dum1

,-library-no,-non-fiction,-owned,_-soft-copy,___books,__dont-own-yet,__type-non-fiction,_audiobooks,_bd,_did_not_finish,...,مسرحيات,مقالات,نجيب-محفوظ,نمایشنامه,کسب-و-کار-و-مدیریت,अम-य,タイムトラベル,日本語,特價精裝小說區,한국소설
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299469,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299470,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299471,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299472,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299473,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299474,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299475,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299476,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299477,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299478,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299479,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299480,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299481,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299482,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299483,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299484,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299485,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299486,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299487,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299488,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299489,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299491,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299492,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299494,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0