In [1]:
import pandas as pd
import numpy as np
import gzip
import json
import re
import os
import sys
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()


%matplotlib inline

# Mapping ratings with correct book id

In the available user-ratings, the book id does not correspond to the goodreads book identification.

In this notebook, the book id is mapped to the appropriate nomenclature from goodreads.

In [2]:
ratings = pd.read_csv('goodreads_interactions.csv')

In [2]:
bookmap = pd.read_csv('book_id_map.csv')

In [3]:
ratings.head()

NameError: name 'ratings' is not defined

First, remove the ratings that the user did not read.

In [5]:
ratings_read = ratings[ratings['is_read'] == 1]

In [7]:
#ratings_read.to_csv('ratings_read.csv', index=False)

In [4]:
ratings_read = pd.read_csv('ratings_read.csv')

In [5]:
ratings_read.head()

   user_id  book_id  is_read  rating  is_reviewed
0        0      948        1       5            0
1        0      947        1       5            1
2        0      946        1       5            0
3        0      945        1       5            0
4        0      944        1       5            0

In [6]:
bookmap.head()

   book_id_csv   book_id
0            0  34684622
1            1  34536488
2            2  34017076
3            3     71730
4            4  30422361

In [7]:
book_dict =bookmap.set_index('book_id_csv').T.to_dict('list')

In [10]:
saver = ratings_read.copy()
ratings_read['book_id_gr'] = ratings_read['book_id'].map(book_dict)

In [11]:
ratings_read.head()

   user_id  book_id  is_read  rating  is_reviewed book_id_gr
0        0      948        1       5            0       [12]
1        0      947        1       5            1       [21]
2        0      946        1       5            0       [30]
3        0      945        1       5            0       [45]
4        0      944        1       5            0        [1]

In [ ]:
ratings_read.to_csv('ratings_book_id.csv', index=False)

In [35]:
ratings_read['book_id_gr'] = ratings_read['book_id_gr'].str.get(0)

In [34]:
test.head()

0    12
1    21
2    30
3    45
4     1
Name: book_id_gr, dtype: int64

In [36]:
ratings_read.head()

   user_id  book_id  is_read  rating  is_reviewed  book_id_gr
0        0      948        1       5            0          12
1        0      947        1       5            1          21
2        0      946        1       5            0          30
3        0      945        1       5            0          45
4        0      944        1       5            0           1

In [37]:
final_ratings = ratings_read.drop(['book_id' , 'is_read'] , axis='columns')

In [38]:
# write this file to csv, checkpoint saving
final_ratings.to_csv('ratings_bookid_gr.csv', index=False)

In [39]:
final_ratings.head()

   user_id  rating  is_reviewed  book_id_gr
0        0       5            0          12
1        0       5            1          21
2        0       5            0          30
3        0       5            0          45
4        0       5            0           1

In [42]:
ave_user = final_ratings.groupby('user_id')['rating'].mean()

In [43]:
ave_user.to_csv('average_user.csv', index=False)

/Users/yasminechebaro/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.